body {
  margin-top: 100px; }

.nav1 {
  background: white;
  color: #333;
  box-shadow: 2px 2px 5px #3292a6;
  opacity: .8;
  min-height: 100px; }
  .nav1 .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

header {
  background-image: url("../img/mountains.jpg");
  background-repeat: no-repeat; }
  header .overlay {
    background: #3292a6;
    opacity: 0.8; }
  header .btn {
    color: white;
    font-size: 1.4rem; }
  header .btn-outline-secondary {
    border-color: white; }

#sign {
  background: #333; }
  #sign .form-control {
    border-radius: 0px; }
  #sign .btn {
    background-color: #3292a6; }
  #sign input::placeholder {
    color: #333; }

#cards .card1 {
  background-color: #3292a6;
  color: white;
  border-color: #3292a6;
  border-radius: 0px; }

#cards .card1:hover {
  background-color: white;
  color: #3292a6;
  cursor: pointer; }

#why-us h3 {
  color: #3292a6; }

#why-us .why-top {
  width: 50%;
  border-bottom: 1px solid #ddd;
  margin: 0 auto; }

#meetTheAuthor .meet {
  color: #3292a6; }

#meetTheAuthor .meet-the-author-head {
  width: 50%;
  margin: 0 auto; }

#meetTheAuthor img {
  margin-top: -50px; }

#meetTheAuthor h5 {
  color: #555; }

#meetTheAuthor .fa {
  font-size: 25px;
  color: #3292a6; }

#meetTheAuthor .card:hover {
  background: #3292a6;
  color: white; }
  #meetTheAuthor .card:hover .fa {
    color: white; }

#formSection input:active {
  border-color: red; }

#formSection span {
  width: 50px; }
  #formSection span .fa {
    margin: auto; }

#fotter {
  color: #fff;
  background: #3292a6; }
